body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

/*---------------- NAVBAR ------------------*/

header {
    background-color: #9e1b21;
}

.navbar {
    width: 100%;
}

ul {
    width: 100%;
}

ul li a {
    font-family: 'Exo';
    font-weight: 800;
    color: rgba(255, 255, 255);
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 25px;
    max-width: 100%;
}

ul li a.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.70);
}

ul li a:hover {
    color: rgba(255, 255, 255, 0.80) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
}

/*---------------- NAVBAR ------------------ */

/*---------------- Main About-------------------- */

.content {
    margin-top: 15%;
    font-family: 'Roboto Slab';
}

.history-content {
    margin-top: 25%;
    font-family: 'Roboto Slab';
}

.stays-content {
    margin-top: 22%;
    font-family: 'Roboto Slab';
}

.aboutus {
    margin-top: 5%;
    margin-bottom: 5%;
}

.history {
    margin-top: 5%;
    margin-bottom: 5%;
}

.boarding {
    margin-top: 5%;
    margin-bottom: 5%;
}

.partners {
    margin-top: 5%;
    margin-bottom: 5%;
}

.stays {
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-end {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.page-end::before, .page-end::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #9e1b21;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #9e1b21;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.aboutus-img {
    margin-top: 12%;
}

.history-img {
    margin-top: 10%;
}

.boarding-img {
    margin-top: 13%;
}

.partners-img {
    margin-top: 14%;
}

.stays-img {
    margin-top: 10%;
    margin-bottom: 10%;
}

.bunkhouse-gower {
    font-family: 'Roboto Slab';
    color: black;
    text-decoration: none;
    max-width: 100%;
    cursor: pointer;
}

.bunkhouse-gower:hover {
    color: #9e1b21;
    font-size: 20px;
    text-decoration: none;
    max-width: 100%;
    cursor: pointer;
}

/*---------------- Main About -------------------- */

/*---------------- Main Shop-------------------- */

.shop-item-container {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    /* border: 1px solid grey; */
    padding: 2%;
    margin: 5% 0;
}

.shop-item-container:hover img {
    transform: scale(1.05);
    transition: ease-in;
}

.shop-item-container hr {
    margin: 4%;
}

.shop-item-container img {
    padding: 0 4%;
    width: 240px;
    height: 250px;
}

.shop-details-container {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.shop-product-title {
    font-family: 'HelveticaNeue-Light';
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
    font-size: 1.2em;
}

.shop-product-rating {
    font-family: 'HelveticaNeue-Light';
    text-align: center;
    color: #9e1b21;
    margin: 1% 0;
    font-size: 0.9em;
}

.star i {
    color: #9e1b21;
}

.shop-product-price {
    font-family: 'HelveticaNeue-Light';
    text-align: center;
    margin: 20% 0;
    font-size: 1.4em;
}

.shop-product {
    width: 300px;
    height: 400px;
}

/*---------------- Main Shop-------------------- */

/*---------------- Shop Product-------------------- */

.product-container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 3% 0;
}

.product-container hr{
    margin: 1% 0;
}

.product-title {
    font-family: 'HelveticaNeue-Light';
    font-size: 1.5em;
    font-weight: 800;
    margin: 0 0;
}

.product-rating {
    color: #9e1b21;
    font-size: 1.2em;
}

.product-top-price {
    font-size: 2em;
}

.product-image {
    height: auto;
    max-width: 850px;
    max-width: 100%;
    margin: 1% 1%;
}

.product-desc {
    position: relative;
    width: 80%;
    margin: 2% 0;
}

.product-colour {
    position: relative;
}

.product-colour input {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    margin-right: 1em;
    border: 2px solid black;
    outline: none;
}

.product-colour input:hover {
    border: 2px solid #bd3c42;
}

.product-colour input:focus {
    border: 2px solid #bd3c42;
}

.product-colour label {
    display: inline-block;
    width: 3em;
    margin-right: .5em;
}

.product-size {
    position: relative;
}

.product-size input {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    margin-right: .5em;
    border: 2px solid black;
    outline: none;

}

.product-size input:hover {
    border: 2px solid #bd3c42;
}

.product-size input:focus {
    border: 2px solid #bd3c42;
}

.product-stock h5{
    margin: 0;
    font-size: 1em;
}

/*---------------- Shop Product-------------------- */

/*---------------- FOOTER ------------------ */

footer {
    background-color: #9e1b21;
}

.top-footer {
    background-color: #bd3c42;
}

.underline {
    background-color: #ffffff;
}

.facebook {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.facebook:hover {
    text-decoration: none;
    color: #3b5998;
}

.twitter {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.twitter:hover {
    text-decoration: none;
    color: #00acee;
}

.instagram {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.instagram:hover {
    text-decoration: none;
    color: #fd5949;
}

.footer-text {
    font-size: 12px;
    color: white;
}

.footer-nav {
    font-size: 15px;
    color: rgba(255, 255, 255);
    text-transform: capitalize;
    text-decoration: none;
    max-width: 100%;
    cursor: pointer;
}

.footer-nav:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.80) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
}

.mb-0 {
    color: white;
}

h6 {
    color: white;
}

.contact-icons {
    color: white;
}

.copyright {
    color: white;
    font-size: 10px;
}

/*---------------- FOOTER ------------------ */

/*---------------- Media Queries ------------------ */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .content {
        margin-top: 10%;
        font-family: 'Roboto Slab';
        font-size: 10px;
    }
    .history-content {
        margin-top: 10%;
        font-family: 'Roboto Slab';
        font-size: 10px;
    }
    .stays-content {
        font-size: 10px;
        font-family: 'Roboto Slab';
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    .content {
        margin-top: 10%;
        font-family: 'Roboto Slab';
        font-size: 5px;
    }
    .history-content {
        margin-top: 10%;
        font-family: 'Roboto Slab';
        font-size: 10px;
    }
    .stays-content {
        font-size: 10px;
        font-family: 'Roboto Slab';
    }
}

/* Medium devices (landscape tablets, 768px ) */

@media only screen and (max-width: 768px) {
    .content {
        margin-top: 10%;
        font-family: 'Roboto Slab';
        font-size: 8px;
    }
    .history-content {
        margin-top: 25%;
        font-family: 'Roboto Slab';
        font-size: 11px;
    }
    .stays-content {
        font-size: 11px;
        font-family: 'Roboto Slab';
    }
    .aboutus-img {
        margin-top: 18%;
    }
    .history-img {
        margin-top: 10%;
    }
    .boarding-img {
        margin-top: 22%;
    }
    .partners-img {
        margin-top: 22%;
    }
    .stays-img {
        margin-top: 15%;
        margin-bottom: 10%;
    }
    footer {
        background-color: #9e1b21;
    }
    .top-footer {
        background-color: #bd3c42;
    }
    .underline {
        background-color: #ffffff;
    }
    .facebook {
        color: white;
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .facebook:hover {
        text-decoration: none;
        color: #3b5998;
    }
    .twitter {
        color: white;
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .twitter:hover {
        text-decoration: none;
        color: #00acee;
    }
    .instagram {
        color: white;
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .instagram:hover {
        text-decoration: none;
        color: #fd5949;
    }
    .footer-text {
        font-size: 10px;
        color: white;
    }
    .footer-nav {
        font-size: 15px;
        color: rgba(255, 255, 255);
        text-transform: capitalize;
        text-decoration: none;
        max-width: 100%;
        cursor: pointer;
    }
    .footer-nav:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.80) !important;
        border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    }
    .mb-0 {
        color: white;
        font-size: 15px;
    }
    h6 {
        color: white;
        font-size: 15px;
    }
    .contact-icons {
        color: white;
    }
    .copyright {
        color: white;
        font-size: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .content {
        margin-top: 10%;
        font-family: 'Roboto Slab';
        font-size: 17px;
    }
    .history-content {
        margin-top: 20%;
        font-family: 'Roboto Slab';
        font-size: 17px;
    }
    .stays-content {
        font-size: 17px;
        font-family: 'Roboto Slab';
    }
    .aboutus-img {
        margin-top: 28%;
    }
    .history-img {
        margin-top: 10%;
    }
    .boarding-img {
        margin-top: 35%;
    }
    .partners-img {
        margin-top: 35%;
    }
    .stays-img {
        margin-top: 20%;
        margin-bottom: 10%;
    }
}

/*Media query max-width:1500px*/

/*---------------- Media Queries ------------------ */